<div class="plotGenerator">
  <div class="buttons">
    <div class="button-shadow">
      <button class="button shiny animate-click" onClick="requestAll()">
        <div class="circle">
        </div>
      </button>
    </div>
  </div>
  <div class="innerContainer">
    <% fields.forEach( function(fieldName) { %>
      <div class="plotElement" id="plotElement<%=fieldName.replace(/\s/g, '_')%>">
        <div class="fieldTitle">
          <h3><%= fieldName %></h3>
        </div>
        <div onClick="requestOne('<%=fieldName%>')" id="<%=fieldName.replace(/\s/g, '_')%>" class="fieldText">
          <div class="inner placeholder">??</div>
        </div>
      </div>
    <% }); %>
  </div>
</div>


