<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Plot generator</title>
    <% include ./partials/scripts-css.ejs %>
    <style>
      .outerContainer {
        width:100%;
        max-width:100%;
        text-align:center;

        width:80%;
        margin: 20px auto;
        padding:20px;
      }

      @media (max-width:600px) {
        .outerContainer {
          margin:0;
          padding: 10px 0;
          width:100%;
        }
      }

    </style>
  </head>
  <body>
    <div class="outerContainer">
      <% include ./partials/generator.ejs %>
    </div>
  </body>
</html>