/*
color schemes..?
https://coolors.co/ed3c50-eaf2e3-9af0eb-f2e863-f2cd60
*/
/*.plotGenerator {
  font-family: 'Lato', sans-serif;
}*/
.plotGenerator button {
  cursor:pointer;
  border:0;
}


.button.generateButton {
  color:#fff;
  border-radius: 5px;
  padding: 10px;
  font-weight:900;  
  background-color:#ed3c50;
}


.button-shadow, .button.shiny {
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;

}

.button-shadow {
  box-shadow: 
    -2px 2px 4px #0000008a, 
    2px 2px 4px #0000008a, 
    -2px 4px 6px #0000ff7d, 
    2px 4px 6px #0000ff7d;
}

.button.shiny {
  background: radial-gradient(
   circle at top,
   white,
   yellow,
   orange,
   red,
   darkred,
   maroon,

   black
  );
  /*indigo*/  
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;

}
.button.shiny.animate-click:active {
  transform: translateY(3px);
  box-shadow: 0 -2px 6px #91fbd4;
}
.button.shiny .circle {
  display:inline-block;
  left:-1px;
  width:38px;
  height:38px;
  border-radius:50%;
  background:linear-gradient(
    to bottom,
    #fd9801 -5px,
    red,
    #d80505 
  );
  /*background-color:red;*/

  /*box-shadow: 
    0 -2px 0 3px #c91919 inset, 
    0 5px 5px rgba(65, 8, 8, 0.17), 
    0 15px rgba(255, 255, 255, 0.25) inset*/
  box-shadow: 
    0 2px 2px darkblue;

}
.button.shiny:focus {
  outline:none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}
/*
.button.shiny .circle .circleInner {
  display:inline-block;
  left:-2px;
  width:15px;
  height:15px;
  border-radius:50%;
  background-color: orange;
}
*/
.buttons {
  width:100%;
  text-align: center;
  display:inline-block;
  margin-bottom:20px;
}

.innerContainer {
  border-radius:2px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;

  width:100%;
  padding:20px 20px 0px 20px;
  /*background-color:#e1e1e1;*/
  /*background-color: #EAF2E3;*/
  background-color: transparent;


}

.plotElement {
  background-color:#9AF0EB;
  min-width:200px;
  width:200px;
  max-width: 200px;
  height:300px;
 /* border: solid 2px #9AF0EB;*/ /*EAF2E3*/ /*#d8edee*/ /*ed3c50*/

  margin-bottom:40px;
  margin-left:20px;
  margin-right:20px;

  display:flex;
  flex-direction:column;
  justify-content:space-between;

  /*padding:10px;*/
  padding:0;  
}


.fieldTitle {
  background-color: #fff;
  text-align:center;
  padding: 0 10px;
  /*padding:10px;*/
}

.fieldText {
  background-color: #fff;
  min-height:215px; /*250px*/
  height:215px;
  max-height:215px;
  overflow-y:auto;

  cursor:pointer;
  font-family:'PT Mono', monospace;
}

.fieldText .inner {
  height: 100%;
  width: 100%;
  text-align:left;
  padding:10px;  
}
.fieldText .inner.placeholder {
  text-align:center;
  font-size: 80px;
  font-family: 'Lato', sans-serif;
  line-height: 200px;  
}

.fieldText .text {
  cursor: auto;
}
.placeholder .text {
  cursor: inherit;
}