/*
color schemes..?
https://coolors.co/ed3c50-eaf2e3-9af0eb-f2e863-f2cd60
*/
button {
  cursor:pointer;
  border:0;
  border-radius: 5px;
  background-color: #757575;
  color:#fff;
  padding: 10px;

  font-weight:900;
}
.generateButton {
  background-color:#ed3c50;
}

.outerContainer {
  width:100%;
  max-width:100%;
  text-align:center;

  /*align-content:flex-start;*/

  /*overflow:hidden;*/
  width:80%;
  margin: 20px auto;

  padding:20px;

}

@media (max-width:600px) {
  .outerContainer {
    margin:0;
    width:100%;
  }
}

.buttons {
  display:inline-block;
  margin-bottom:20px;
}
.innerContainer {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;

  width:100%;
  padding:20px 20px 0px 20px;
  /*background-color:#e1e1e1;*/
  background-color: #EAF2E3;

}

.plotElement {
  background-color:#9AF0EB;
  min-width:200px;
  width:200px;
  max-width: 200px;
  height:300px;
 /* border: solid 2px #9AF0EB;*/ /*EAF2E3*/ /*#d8edee*/ /*ed3c50*/

  margin-bottom:40px;
  margin-right:40px;


  display:flex;
  flex-direction:column;
  justify-content:space-between;

  /*padding:10px;*/
  padding:0;  
}

.plotElement:last-child {
  margin-right:0;
}

.fieldTitle {
  background-color: #fff;
  text-align:center;
  padding:10px;
}

.fieldText {
  background-color: #fff;
  min-height:235px; /*250px*/
  height:235px;
  max-height:235px;
  overflow-y:auto;

  font-family:'PT Mono', monospace;
}

.fieldText .inner {
  height: 100%;
  width: 100%;  
}
.fieldText .inner.placeholder {
  font-size: 80px;
  font-family: 'Lato', sans-serif;
  line-height: 210px;  
}